.some-page-wrapper 
{
     display: flex;
     margin: 15px;
  
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column 
{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.orange-column 
{
 
     height: 100px;
}

.blue-column 
{
  
    height: 100px;
}

.green-column 
{
    background-color: green;
    width: 500px; 
    height:500px;
}

h1,h2
{
     font-family: Helvetica, sans-serif;
     font-stretch: extra-expanded;
}
.our-hour
{
    text-align: center;
    background-color: #f9e1c0;
    width: 350px; 
    height: 160px;
    border: 1px ;
    padding: 10px;
    box-shadow: 5px 10px 20px #FFC0CB inset;
    font-style: oblique;
    font-weight: 900;
    font-family: Didot, serif;
}
