<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Trilok | When Spices Start speaking </title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="assets/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="assets/vendors/iconfonts/ionicons/dist/css/ionicons.css">
    <link rel="stylesheet" href="assets/vendors/iconfonts/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="assets/vendors/css/vendor.bundle.addons.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="assets/css/shared/style.css">
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="assets/css/demo_1/style.css">
    <!-- End Layout styles -->
   <link rel="shortcut icon" href="assets/images/favicon.ico" />
    <link rel="shortcut icon" href="assets/images/logo-trilok.png" />


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="assets/js/methods.js"></script>
    <script>
        // $("#date-picker-example").datepicker();

        getDataforDashboradLabels();
        getTotalAdvanceReservation();
        getTotalDoneDelivery();
    </script>
</head>
<body>
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
                <a class="navbar-brand brand-logo" href="index.html">
                    <img src="assets/images/logo.svg" alt="logo" height="70" />
                </a>
                <a class="navbar-brand brand-logo-mini" href="index.html">
                    <img src="assets/images/logo-mini.svg" alt="logo" />
                </a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center">
                <ul class="navbar-nav">
                    <li class="nav-item font-weight-semibold d-none d-lg-block">Dashborad</li>

                </ul>
                <form class="ml-auto search-form d-none d-md-block" action="#">
                    <div class="form-group">
                        <input type="search" class="form-control" placeholder="Search Here">
                    </div>
                </form>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link count-indicator" id="messageDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-bell-outline"></i>
                            <span class="count">7</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list pb-0" aria-labelledby="messageDropdown">
                            <a class="dropdown-item py-3">
                                <p class="mb-0 font-weight-medium float-left">You have 7 unread mails </p>
                                <span class="badge badge-pill badge-primary float-right">View all</span>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <img src="assets/images/faces/face10.jpg" alt="image" class="img-sm profile-pic">
                                </div>
                                <div class="preview-item-content flex-grow py-2">
                                    <p class="preview-subject ellipsis font-weight-medium text-dark">Marian Garner </p>
                                    <p class="font-weight-light small-text"> The meeting is cancelled </p>
                                </div>
                            </a>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <img src="assets/images/faces/face12.jpg" alt="image" class="img-sm profile-pic">
                                </div>
                                <div class="preview-item-content flex-grow py-2">
                                    <p class="preview-subject ellipsis font-weight-medium text-dark">David Grey </p>
                                    <p class="font-weight-light small-text"> The meeting is cancelled </p>
                                </div>
                            </a>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <img src="assets/images/faces/face1.jpg" alt="image" class="img-sm profile-pic">
                                </div>
                                <div class="preview-item-content flex-grow py-2">
                                    <p class="preview-subject ellipsis font-weight-medium text-dark">Travis Jenkins </p>
                                    <p class="font-weight-light small-text"> The meeting is cancelled </p>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link count-indicator" id="notificationDropdown" href="#" data-toggle="dropdown">
                            <i class="mdi mdi-email-outline"></i>
                            <span class="count bg-success">3</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list pb-0" aria-labelledby="notificationDropdown">
                            <a class="dropdown-item py-3 border-bottom">
                                <p class="mb-0 font-weight-medium float-left">You have 4 new notifications </p>
                                <span class="badge badge-pill badge-primary float-right">View all</span>
                            </a>
                            <a class="dropdown-item preview-item py-3">
                                <div class="preview-thumbnail">
                                    <i class="mdi mdi-alert m-auto text-primary"></i>
                                </div>
                                <div class="preview-item-content">
                                    <h6 class="preview-subject font-weight-normal text-dark mb-1">Application Error</h6>
                                    <p class="font-weight-light small-text mb-0"> Just now </p>
                                </div>
                            </a>
                            <a class="dropdown-item preview-item py-3">
                                <div class="preview-thumbnail">
                                    <i class="mdi mdi-settings m-auto text-primary"></i>
                                </div>
                                <div class="preview-item-content">
                                    <h6 class="preview-subject font-weight-normal text-dark mb-1">Settings</h6>
                                    <p class="font-weight-light small-text mb-0"> Private message </p>
                                </div>
                            </a>
                            <a class="dropdown-item preview-item py-3">
                                <div class="preview-thumbnail">
                                    <i class="mdi mdi-airballoon m-auto text-primary"></i>
                                </div>
                                <div class="preview-item-content">
                                    <h6 class="preview-subject font-weight-normal text-dark mb-1">New user registration</h6>
                                    <p class="font-weight-light small-text mb-0"> 2 days ago </p>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li class="nav-item dropdown d-none d-xl-inline-block user-dropdown">
                        <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                            <img class="img-xs rounded-circle" src="assets/images/faces/face8.jpg" alt="Profile image">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
                            <div class="dropdown-header text-center">
                                <img class="img-md rounded-circle" src="assets/images/faces/face8.jpg" alt="Profile image">
                                <p class="mb-1 mt-3 font-weight-semibold">Allen Moreno</p>
                                <p class="font-weight-light text-muted mb-0">allenmoreno@gmail.com</p>
                            </div>
                            <a class="dropdown-item">My Profile <span class="badge badge-pill badge-danger">1</span><i class="dropdown-item-icon ti-dashboard"></i></a>
                            <a class="dropdown-item" id="Signout">Sign Out<i class="dropdown-item-icon ti-power-off"></i></a>
                        </div>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="mdi mdi-menu"></span>
                </button>
            </div>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item nav-profile">
                        <a href="#" class="nav-link">
                            <div class="profile-image">
                                <img class="img-xs rounded-circle" src="assets/images/faces/face8.jpg" alt="profile image">
                                <div class="dot-indicator bg-success"></div>
                            </div>
                            <div class="text-wrapper">
                                <p class="profile-name"> </p>
                                <p class="designation">Premium user</p>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">
                            <i class="menu-icon typcn typcn-document-text"></i>
                            <span class="menu-title">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="orderMangement.html">
                            <i class="menu-icon typcn typcn-document-text"></i>
                            <span class="menu-title">Order Management</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="reservationManagement.html">
                            <i class="menu-icon typcn typcn-document-text"></i>
                            <span class="menu-title">Reservation Management</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="deliveryManagement.html">
                            <i class="menu-icon typcn typcn-document-text"></i>
                            <span class="menu-title">Delivery Management</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="itemManagement.html">
                            <i class="menu-icon typcn typcn-document-text"></i>
                            <span class="menu-title">Item Management</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="userManagement.html">
                            <i class="menu-icon typcn typcn-document-text"></i>
                            <span class="menu-title">User Management</span>
                        </a>
                    </li>
                    <!--<li class="nav-item">
                      <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                        <i class="menu-icon typcn typcn-coffee"></i>
                        <span class="menu-title">Basic UI Elements</span>
                        <i class="menu-arrow"></i>
                      </a>
                      <div class="collapse" id="ui-basic">
                        <ul class="nav flex-column sub-menu">
                          <li class="nav-item">
                            <a class="nav-link" href="pages/ui-features/buttons.html">Buttons</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="pages/ui-features/dropdowns.html">Dropdowns</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="pages/ui-features/typography.html">Typography</a>
                          </li>
                        </ul>
                      </div>
                    </li>-->
                   
                </ul>
            </nav>
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    <!-- Page Title Header Starts-->
                    <div class="row page-title-header">
                        <div class="col-12">
                            <div class="page-header">
                                <h4 class="page-title">Dashboard</h4>
                                <div class="quick-link-wrapper w-100 d-md-flex flex-md-wrap">
                                    <ul class="quick-links">
                                    </ul>
                                    <ul class="quick-links ml-auto">
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="page-header-toolbar">
                              <!--  <div class="btn-group toolbar-item" role="group" aria-label="Basic example">
                                    <button type="button" class="btn btn-secondary"><i class="mdi mdi-chevron-left"></i></button>
                                    <button type="button" class="btn btn-secondary datepicker" id="datepicker">03/02/2019 - 20/08/2019</button>
                                    <button type="button" class="btn btn-secondary"><i class="mdi mdi-chevron-right"></i></button>
                                </div>
                                <div class="filter-wrapper">
                                    <div class="dropdown toolbar-item">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownsorting" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">All Day</button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownsorting">
                                            <a class="dropdown-item" href="#">Last Day</a>
                                            <a class="dropdown-item" href="#">Last Month</a>
                                            <a class="dropdown-item" href="#">Last Year</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="sort-wrapper">
                                   
                                    <div class="dropdown ml-lg-auto ml-3 toolbar-item">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownexport" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Export</button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownexport">
                                            <a class="dropdown-item" href="#">Export as PDF</a>
                                            <a class="dropdown-item" href="#">Export as DOCX</a>
                                            <a class="dropdown-item" href="#">Export as CDR</a>
                                        </div>
                                    </div>
                                </div-->
                            </div>
                        </div>
                    </div>
                    <!-- Page Title Header Ends-->
                    <div class="row">
                        <div class="col-md-12 grid-margin">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-6">
                                            <div class="d-flex">
                                                <div class="wrapper">
                                                    <h3 class="mb-0 font-weight-semibold" id="totalSale"></h3>
                                                    <h5 class="mb-0 font-weight-medium text-primary">Total Online Orders</h5>
                                                    <p class="mb-0 text-muted">CAD</p>
                                                </div>
                                                <div class="wrapper my-auto ml-auto ml-lg-4">
                                                    <canvas height="50" width="100" id="stats-line-graph-1"></canvas>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-6 mt-md-0 mt-4">
                                            <div class="d-flex">
                                                <div class="wrapper">
                                                    <h3 class="mb-0 font-weight-semibold" id="totalAdvance"></h3>
                                                    <h5 class="mb-0 font-weight-medium text-primary">Total Advance Reservations</h5>
                                                    <p class="mb-0 text-muted">CAD</p>
                                                </div>
                                                <div class="wrapper my-auto ml-auto ml-lg-4">
                                                    <canvas height="50" width="100" id="stats-line-graph-2"></canvas>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-6 mt-md-0 mt-4">
                                            <div class="d-flex">
                                                <div class="wrapper">
                                                    <h3 class="mb-0 font-weight-semibold" id="CompletedOrders"></h3>
                                                    <h5 class="mb-0 font-weight-medium text-primary">Completed delivery Orders</h5>
                                                    <p class="mb-0 text-muted"></p>
                                                </div>
                                                <div class="wrapper my-auto ml-auto ml-lg-4">
                                                    <canvas height="50" width="100" id="stats-line-graph-3"></canvas>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-6 mt-md-0 mt-4">
                                            <div class="d-flex">
                                                <div class="wrapper">
                                                    <h3 class="mb-0 font-weight-semibold" id="recentOrder"></h3>
                                                    <h5 class="mb-0 font-weight-medium text-primary">Recent Orders</h5>
                                                    <p class="mb-0 text-muted">in Last 3 Hour</p>
                                                </div>
                                                <div class="wrapper my-auto ml-auto ml-lg-4">
                                                    <canvas height="50" width="100" id="stats-line-graph-4"></canvas>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<div class="row">
                        <div class="col-lg-9 grid-margin stretch-card">
                            <div class="card">
                                <div class="p-4 border-bottom bg-light">
                                    <h4 class="card-title mb-0">Bar Chart</h4>
                                </div>
                                <div class="card-body">
                                    <div class="d-flex justify-content-between align-items-center pb-4">
                                        <h4 class="card-title mb-0">Sales Revenue</h4>
                                        <div id="bar-traffic-legend"></div>
                                    </div>
                                    <p class="mb-4"></p>
                                    <canvas id="barChart" style="height:250px"></canvas>
                                </div>
                            </div>
                        </div>

                    </div>-->
                   
                   
                </div>
                <!-- content-wrapper ends -->
                <!-- partial:partials/_footer.html -->
                <footer class="footer">
                    <div class="container-fluid clearfix">
                        <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2019 <a href="http://www.bootstrapdash.com/" target="_blank">Bootstrapdash</a>. All rights reserved.</span>
                        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">
                            Hand-crafted & made with <i class="mdi mdi-heart text-danger"></i>
                        </span>
                    </div>
                </footer>
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="assets/vendors/js/vendor.bundle.base.js"></script>
    <script src="assets/vendors/js/vendor.bundle.addons.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="assets/js/shared/off-canvas.js"></script>
    <script src="assets/js/shared/misc.js"></script>
    <script src="assets/js/shared/chart.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="assets/js/demo_1/dashboard.js"></script>
   
    <!-- End custom js for this page-->
</body>
</html>